<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/findByDate.css">
<link rel="stylesheet" href="/css/cart-section.css">
<link rel="stylesheet" href="/css/rateNreview.css">
<link rel="stylesheet" href="/css/rateNreview.css">
</head>
<body>
	<div id="findByDate-div">
		<form action="/findDate" id="findByDate-frm">
		<h2>FindByDate</h2>
			<input type="date" name="date" id="date" placeholder="DD/MM/YYYY">
			<br><br>
			<button id="btn">Find By Date</button>
		</form>
		<br><br>
		<button id="back"><a href="/i">Home</a></button>
	
</body>
</html>