<html>
    <head>
    	<link rel="stylesheet" href="/css/index-header.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/index-nav.css">
        <title>Veg Page</title>
    </head>
    <body>
 <div id="outer-div">
      <header>
        <div id="header">
            <div id="header-left-logo">
                
                    <img src="/img/res.png" alt="logo not available !" height="50px" width="50px">
                
            </div>
            <div id="header-center">
                <center>
                    <span id="header-title">Welcome To Baba Da Dhaba</span>
                </center>
                
            </div>
            <div id="header-rigth-user">
            	<div th:text="${'welcome@ '+session.sesName}" style="color:white;" id="ses"></div>
                <a href="/cart"><!-- GoToCart to be added -->
                    <img src="/img/cart.png" alt="image not available!" id="cart">
                </a>
                <form action="/destroy" id="log"><button>LogOut</button></form>
            </div>
        </div>
      </header>
      <nav id="nav">
        <div id="nav-left"></div>
        <div id="nav-center">
            <ul id="nav-menu-list">
                <li><a href="/i" id="li-a">Home</a></li>
                <li><a href="/veg" id="li-a">Veg</a></li>
                <li><a href="/nonVeg" id="li-a">Non-Veg</a></li>
                <li><a href="/italian" id="li-a">Italian</a></li>
                <li><a href="/continental" id="li-a">Continental</a></li>
                <li><a href="/bakery" id="li-a">Bakery</a></li>
                <li><a href="/juices" id="li-a">Juices</a></li>
            </ul>
        </div>
        <div id="nav-right"></div>
     </nav>
        <div class="container">
        
        <table>
        <tr>
           <td th:each="i : ${newList}">     
           <div class="card">
           	<img id="one" alt="no  image" th:src="*{'data:image/jpeg;base64,'+{i.image}}"/>
                  <form action="/addToCart">
             <div class="title"> <span th:text="${i.name}"></span></div>
               <div class="title">₹ <span th:text="${i.price}"></span></div>   
                  <input type="hidden"   th:value="${i.name}"  name="name"/> 
                  <h4> <span th:value="${i.price}" ></span>  
                  <input type="hidden"   th:value="${i.price}"  name="price"/> </h4>
                    
                    <h4>Qty:<input class="quantity" id="id_form-0-quantity" min="0" name="qty" value="1" type="number"></h4>
                      <button type="submit">Add to Cart</button>
    
                </form>

             </div>
        </td>
        </tr>
        </table>
        </div>
    </body>
</html>
   