<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table border="1" style="width: 300px">
		<tr>
			<td>Name</td>
			<td>Price</td>
			<td>qty</td>
			<td>User</td>
			<td>Desc</td>
			<td>Date</td>
			<td>Total price</td>
			<td>Type</td>
			<td>Status</td>
			
		</tr>
		<tr th:each="i : ${oh}">
			<td><span th:text="${i.name}"> </span></td>
			<td><span th:text="${i.price}"> </span></td>
			<td><span th:text="${i.qty}"> </span></td>
			<td><span th:text="${i.uName}"> </span></td>
			<td><span th:text="${i.recDesc}"> </span></td>
			<td><span th:text="${i.date}"> </span></td>
			<td><span th:text="${i.totalPrice}"> </span></td>
			<td><span th:text="${i.type}"> </span></td>
			<td><span th:text="${i.status}"> </span></td>
			
		</tr>
	</table>
</body>
</html>