#footer{
    height:auto;
    width:100%;
}
#footer-left{
    height: 50px;
    width:49%;
    float: left;
    margin-top:2%;
    background-color: rgba(255, 255, 255, 0.164);
}
#footer-btn li{
    display: inline;
    background-color:rgba(0, 0, 0, 0.603);
    color: white;
    padding: 10px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid white;
}
#footer-btn a{
    text-decoration: none;
}
#footer-btn li:hover{
    background-color:rgba(110, 115, 111, 0.603);
    font-size: 20px;
}