#nav{
    border: 1px solid;
    height: 150px;
    width: 100%;
    
}
#nav-left{
    width:20%;
    float :left;
    border: 1px dotted;
}
#nav-center{
    width: 60%;
    float: left;
    border: 1px solid;
    padding-left: 5px;
    
}
#nav-right{
    width: 14%;
    float: left;
    border: 1px solid;
}

li{
    display: inline;
    margin-left: 10px;
    padding-left: 5px;
    
}
#li-a{
    text-decoration: none;
    color: white;
    border-right: 1px solid;
    padding: 10px;
    border-radius: 10px;
    
}
#li-a:hover{
    color: black;
    font-size: 20px;
    background-color:grey;
    font-weight: bold;
    border-radius: 30%;
}